<footer class="pt-4 my-md-5 px-5 border-top">
  <div class="row">
    <div class="col-12 col-md">
      <img
        class="mb-2"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
        alt=""
        width="24"
        height="24"
      />
      <small class="d-block mb-3 text-muted">© 2022</small>
    </div>
    <div class="col-6 col-md">
      <h5>Mapa del sitio</h5>
      <ul class="list-unstyled text-small">
        <li>
          <a
            class="text-muted"
            href="#"
            routerLinkActive="active"
            [routerLink]="['/characters']"
            >Personajes</a
          >
        </li>
        <li>
          <a
            class="text-muted"
            href="#"
            routerLinkActive="active"
            [routerLink]="['/episodes']"
            >Episodios</a
          >
        </li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Autor</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted">Duvan Quevedo</a></li>
        <li>
          <a
            class="text-muted"
            href="https://www.linkedin.com/in/duvan-andr%C3%A9s-quevedo-aguado-b97b04166"
            target="_blank"
            >Linkedin</a
          >
        </li>
        <li>
          <a
            class="text-muted"
            href="https://github.com/Duvan1/jujutv/tree/master"
            target="_blank"
            >Codigo fuente</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
